.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  width: 94vw;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 18px);
}

.logo {
  width: 14vw;

  height: auto;
}

.title {
  width: 14vw;

  height: auto;
}

.btn {
  padding: 7px 14px;
  background: rgba(237, 238, 232, 1);
  background-color: #638530;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4vw;
  width: 20vw;
  height: 4vh;
}

.btn:hover {
  background-color: #4f6927;
  color: rgba(237, 238, 232, 1);
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .logo {
    width: 32vw;
    /* max-width: 100px; */
  }

  .title {
    width: 32vw;
    /* max-width: 130px; */
  }

  .btn {
    font-size: 4vw;
    padding: 6px 12px;
    width: 70vw;
    height: 6vh;
    border-radius: 10px;
  }
}
