.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background-color: #EDEEE8;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 75%;
    z-index: 100;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}


@media screen and (max-width: 768px) { 
    .centered {
        top: 70%;
        left: 51%;
    }

    .modal {
        background-color: #EDEEE8;
        position: relative;
        border-radius: 10px;
        padding: 35px;
        width: 80%;
        z-index: 100;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    }
}