.home-container {
  background-image: url(../images/carrots.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calender-container {
  width: 80vw;
  margin-bottom: 4vh;
}
