.week-container {
  display: flex;
  flex-direction: column;
}

.week-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  font-size: 1vw;
}

.prev-week-button {
  width: 10vw;
  padding: 0.7vw;
  background-color: white;
  border: 1px solid #841933;
  border-radius: 10px;
  cursor: pointer;
}

.next-week-button {
  width: 10vw;
  padding: 0.7vw;
  background-color: white;
  border: 1px solid #841933;
  border-radius: 10px;
  cursor: pointer;
}

.first-row-dates {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.second-row-dates {
  display: flex;
  justify-content: space-evenly;
}

.generate-div {
  background-color: #638530;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 18vw;
  height: 22vh;
  border-radius: 50%;
  border: 3px solid #638530;
  cursor: pointer;
}

.generate-button {
  font-size: 2.5vw;
}

.day-container {
  background-color: white;
  border: 3px solid #841933;
  border-radius: 16px;
  width: 18vw;
  height: 22vh;
}

.day-title {
  font-size: 1.5vw;
  display: flex;
  text-align: left;
  align-items: center;
  background-color: #841933;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 18vw;
  height: 4vh;
}

.day-title-weekday {
  margin-left: 0.5vw;
}

.day-title-number {
  margin-left: 1vw;
}

.selected-meal-name {
  margin-top: 1vh;
  font-size: 1.5vw;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.selected-meal-ingredients {
  margin-top: 1vh;
  font-size: 1vw;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-style: italic;
}
.selected-meal-cal {
  margin-top: 1vh;
  font-size: 0.8vw;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-style: italic;
}
