.week-container {
	display: flex;
	flex-direction: column;
}

.week-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  width: 78vw;
  margin-left: 1.5vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-size: 1vw;
}

.week-display {
	font-size: 1.5vw;
	margin-left: 1vw;
}

.week-change-div {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.jump-to-this-week {
	padding: 0.5vw;
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 1.5vw;
	cursor: pointer;
}

.prev-week-button {
	width: 3vw;
	height: 1vh;
	padding: 0.7vw;
	cursor: pointer;
}

.next-week-button {
	width: 3vw;
	height: 1vh;
	padding: 0.7vw;
	cursor: pointer;
}

.first-row-dates {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2vh;
}

.second-row-dates {
	display: flex;
	justify-content: space-evenly;
}

.generate-div {
	background-color: #638530;
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 18vw;
	height: 22vh;
	border-radius: 50%;
	border: 3px solid #638530;
	cursor: pointer;
}

.generate-button {
	font-size: 2.5vw;
}

.day-container {
	background-color: white;
	border: 3px solid #841933;
	border-radius: 16px;
	width: 18vw;
	height: 22vh;
}

.day-title {
	font-size: 1.5vw;
	display: flex;
	text-align: left;
	align-items: center;
	background-color: #841933;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 18vw;
	height: 4vh;
}

.day-title-weekday {
	width: 12vw;
	text-align: center;
}

.day-title-number {
	width: 2vw;
	margin-left: 0.8vw;
}

.selected-meal-name {
	margin-top: 1vh;
	font-size: 1.5vw;
	color: black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.selected-meal-ingredients {
	margin-top: 1vh;
	font-size: 1vw;
	color: black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-style: italic;
}
.selected-meal-cal {
	margin-top: 1vh;
	font-size: 0.8vw;
	color: black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-style: italic;
}

.date-range-container {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: end;
	margin-top: 1vh;
}

.start-date-div {
	margin-right: 2vw;
}

.end-date-div {
	margin-right: 3vw;
}

.day-off {
	background-color: #841933;
}
